---
import Button from "./Button.astro";
---

 <style>
  .signup__form {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    max-width: 600px;
  }

  input[type='text'],
  input[type='email'],
  input[type='date'],
  input[type='tel'] {
    width: 100%;
    margin: 8px;
    padding: 0.5rem 1rem;
    border: 2px solid #ccc;
    color: #000000;
    border-radius: 2rem;
    outline-style: none;
  }

  input:focus {
    border: 2px solid#000;
  }

  .signup__form :global(.btn) {
    margin-left: 1rem;
  }
</style>

<form class="signup__form fade-in" action="https://api.web3forms.com/submit" method="POST" id="form">
  <input type="hidden" name="access_key" value="fd71803b-2c58-4589-bee9-6d9a3f5befef">
  <div>
  <input type="text" id="exampleInputName1" placeholder="Name" required/>
  <input
  type="text"
  class=""
  id="exampleInputName"
  placeholder="Your Name"
  name="Lastname"
/>
  <input type="email" id="exampleInputEmail1" placeholder="Email Address" required/>

  <Button>Submit</Button>
  <div id="result" class="mt-3 text-center"></div>
</div>
</form>
<script>
  import "../../public/scripts/form"
</script>